<h1 class="title">OM PROJEKTET</h1>
<section class="game-box">
	<p>-= DET HÄR PROJEKTET ÄR GJORT AV ARASH-SJPI22 =-</p>
	<p>-= DET ÄR EN SVENSK WORLDE-KLON GJORD I REACT OCH EXPRESS =-</p>
    <p>-= DEN ANVÄNDER EN REDUCERAD VERSION AV DEN SVENSKDATABASEN MED ORD FRÅN <a href="https://github.com/almgru/svenska-ord.txt">ALMGRU / SVENSKA-ORD </a> =-</p>
    <p>-= TOTALT FINNS DET 118520 ORD MELLAN 3 OCH 27 BOKSTÄVER LÅNGA =-</p>
</section>