.container {
	padding: 20px;

	.second-container {
		background-color: chartreuse;

		.title {
			margin: auto;
			margin-top: 20px;
			border: 8px solid rgb(187, 114, 114);
			border-radius: 10px;
			box-shadow: 8px 6px;
			padding: 5px 20px;
			width: fit-content;
			background-color: greenyellow;
		}
	}
}
