<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<title>Ordle</title>
	</head>
	<body>
		<menu class="menu">
			<ul class="header-list">
				<li class="header-item"><a href="/">ORDLE</a></li>
				<li class="header-item"><a href="/highscore">HIGHSCORE</a></li>
				<li class="header-item"><a href="/about">OM OSS</a></li>
			</ul>
		</menu>
		<div class="container">
			<div class="second-container">
				{{{body}}}
			</div>
		</div>

	</body>
</html>